{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "globals": {
    "React": true
  },

  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },

  "rules": {
    "quotes": [2, "single"]
  },

  "plugins": [
    "react"
  ]
}
