// 3RD PARTY LIBS
@import './libs/normalize.scss';
@import './../../node_modules/font-awesome/css/font-awesome.min.css';
@import './utils/_colors';

.fa {
  color: $heart-red;
}

body {
  background-color: $white;
}

a {
  font-size: 1.2em;
  font-weight: bold;
  color: $heart-red;
  text-decoration: none;
  transition: color 1s;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.container {
  min-width: 550px;
  max-width: 75%;
  padding: 2rem 2rem;
  margin-right: auto;
  margin-left: auto;
}

.juanmnl-img {
  width: 150px;
  height: 150px;
  background: url("../assets/images/juanmnl.png") center no-repeat;
  border-radius: 100%;
}
