// 3RD PARTY LIBS
@import './libs/normalize.scss';
@import './../../node_modules/font-awesome/css/font-awesome.css';

@import "./utils/_colors";

.fa { color: $heart-red; }

body {
  background-color: $white;
}

a {
  font-size: 1.2em;
  font-weight: bold;
  color: $heart-red;
  text-decoration: none;
  transition: color 1s;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.juanmnl-img {
  width: 100px;
  height: 100px;
  margin: 15px;
  border-radius: 100%;
  background: url("../images/juanmnl.png") center no-repeat;
}
