@import "./utils/_colors";

body {
  background-color: $white;
}
// Override Bootstrap example
.glyphicon {
  position: relative;
  top: 4px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: $heart-red;
}

a {
  font-size: 1.2em;
  font-weight: bold;
  color: $heart-red;
  text-decoration: none;
  transition: color 1s;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.juanmnl-img {
  width: 100px;
  height: 100px;
  margin: 15px;
  background: url("../images/juanmnl.png") center no-repeat;
}
