// Set colors to use as variables:
// Try not using more than 10 :P

$heart-red: #d20c37;

// Never use total white in any design.
$white: #f5f5f5;
// Never use total black in any design.
$black: #121212;
